---
title: Aid Information Platform
---

<%= partial "partials/title-bar" %>
<%= partial "partials/search-bar" %>
<%= partial "partials/location-tabs", :locals => { :active => "regional" } %>

<div class="row">
    <div class="twelve columns map">
        <a href="#" ><img src="http://placehold.it/990x500"></a>
        <div class="disclaimer grey">    
            <p><em>Disclaimer: </em>Country borders do not necessarily reflect the UK Government's official position.</p>
          </div>    
    </div>
</div>