.demo-disclaimer {
    background: #f8bc90;
    margin: -19px 0 0 0 ;
}

.demo-disclaimer p {
    color: #000;
    font-size: 0.9em;
    padding: 0.5em;
}

.content div{
    padding-top: 20px;
}

.content div:first-child{
    text-align: center;
}

.content h2{
    font-size: 1.2em;
    font-weight: bold;
    margin: 1em 0 0.75em;
}

.content p{
    margin-bottom: 0.5em;
}

#fraud-report {
    margin-top: 1em;
    min-width: 320px;
    width: 100%;
}

#fraud-report legend{
    font-weight: bold;
    margin: 1.5em 0 0.75em;
}

#fraud-report legend span{
    font-weight: normal;
}

#fraud-report em{
    color: red;
    font-style: normal;
}

#fraud-report ol{
    list-style: none;
}

#fraud-report li{
    margin-bottom: 0.5em;
    padding-top: 0.5em;
    border-top: 1px solid #ccc;
}

#fraud-report label{
    display: inline-block;
    width: 12em;
}

#fraud-report textarea{
    display: inline-block;
    width: 17em;
    min-height: 5em;
    height: auto;
}

#fraud-report .button{
    margin:0.5em 0 1em 12.2em;
}