---
title: Aid Information Platform
---

<% content_for :global_proj_class   do %> <li class="active"> <% end %>
<% content_for :regional_proj_class do %> <li> <% end %>
<% content_for :country_proj_class  do %> <li> <% end %>

<% content_for :page_content do %>
    <div id="map" style="width:990px; height: 500px; background-image: url(/images/map_transparent.gif); background-repeat:no-repeat;"></div>

    <div class="disclaimer grey">    
        <p><em>Disclaimer: </em>Country borders do not necessarily reflect the UK Government's official position.</p>
    </div>

    <script src="/javascripts/circlegraph.js" type="text/javascript"></script>
    <script type="text/javascript">
        var labels = {
            header : 'Total global spend 2011/2012',
            amount : '£2.5bn'
        }

        circleGraph.drawGlobalProjectsGraph('#map', 140, labels);
    </script>
<% end %>