<div class="row">
    <div class="twelve columns">
        <div id="search-bar">
            <form action="/search" method="GET">
                <label for="query">
                    <h3>Search Projects</h3>
                    <input id="query" name="query" type="text" placeholder="e.g. location, sector, organisation or keyword" value="">
                </label>
                <input type="submit" value="Search" class="button">
            </form>
        </div>
    </div>
</div>