<div id="page-title" class="row">
    <div class="twelve columns">
        <img id="page-title-logo" src="/images/ukaid_logo.gif" alt="UK aid from the British people">
        <div>
            <h1>
                <span>Department for International Development</span>
                Aid Information
            </h1>
        </div>
    </div>
</div>