@(query:String, results:scala.collection.mutable.ListBuffer[Map[String,String]])

<!DOCTYPE html>

  <head>
    <meta charset="utf-8">
    <title>Aid Information Platform</title>
    <script type="text/javascript">
      (function(){if(window.opera){return;}
      setTimeout(function(){var a=document,g,b={families:(g=
      ["nta"]),urls:["admin/assets/admin/alpha/stylesheets/fonts-ie8.css"]},
      c="javascripts/webfont-debug.js",d="script",
      e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
      ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h--;a.documentElement
      .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
      })()
    </script>
    <![endif]-->
    <!--[if gte IE 9]><!--><link href="admin/assets/fromAlpha/stylesheets/fonts.css" media="all" rel="stylesheet" type="text/css"><!--<![endif]-->


    <script src="admin/assets/admin/alpha/javascripts/jquery.js" type="text/javascript"></script>
    <script src="admin/assets/admin/alpha/javascripts/jquery.expander.min.js" type="text/javascript"></script>
    <script src="admin/assets/admin/alpha/javascripts/jquery.showmore.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
      <script src="admin/assets/admin/alpha/javascripts/ie.js" type="text/javascript"></script>
      <script src="admin/assets/admin/alpha/avascripts/compat.js" type="text/javascript"></script>
    <![endif]-->
    <script src="admin/assets/admin/alpha/javascripts/d3.v3.min.js" type="text/javascript"></script>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link type="text/css" rel="stylesheet" media="screen" href="admin/assets/admin/alpha/stylesheets/application.css">
    <link type="text/css" rel="stylesheet" media="all" href="admin/assets/admin/alpha/stylesheets/fonts.css">
    <link href="admin/assets/admin/alpha/stylesheets/main.css" media="all" rel="stylesheet" type="text/css">
  </head>
  <body class="citizen mainstream">
    <script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script><a href="#content" class="visuallyhidden">Skip to main content</a>
    <header role="banner" class="group" id="global-header">
      <div class="header-global group">
        <h1><a href="/" title="Go to the homepage">Department for International Development</a></h1>
      </div>
    </header>
    <div id="whitehall-wrapper">
        <div id="content">

        </div>
        <div id="page">
            <div class="inner-block">
                <div class="disclaimer">
                    <div class="inner group">
                        This is a <em>test website</em>, so may be inaccurate or misleading.  The official website remains <a href="http://www.dfid.gov.uk">dfid.gov.uk</a>
                    </div>
                </div>
                @partials.header("DEPARTMENT FOR INTERNATIONAL DEVELOPMENT") { Search Results }
                @partials.search(query)
                <script>
                
                </script>
                <div id="filter" style="float:left;margin-top: 15px;width: 28%;">
                <h1>Status</h1>
                <h1>Sectors</h1>
                <h1>Countries</h1>
                <h1>Regions</h1>
                <h1>Budget</h1>
                <ul class="budget filter range">
                    <li>
                        <input type="number" placeholder="Min" style="width:35%" value="" id="lo" name="lo" step="1000">
                        <input type="number" placeholder="Max" style="width:35%" value="" id="hi" name="hi" step="1000">
                    </li>
                </ul>
            </div>
                @for(i <- 0 to results.size -1) {
                		<div class="search-result" style="float: right;width: 70%;">
                		<input type="hidden" name="status" value="@results(i).get("status")">
                		<input type="hidden" name="organizations" value="@results(i).get("organizations")">
                		<input type="hidden" name="countries" value="@results(i).get("countries")">
                		<input type="hidden" name="sectors" value="@results(i).get("sectors")">
                		<input type="hidden" name="regions" value="@results(i).get("regions")">
                			<h3><a href="/projects/@results(i).get("id")">@results(i).get("title")<small>[@results(i).get("id")]</small></a></h3>
                			<p class="budget">Budget: <em>@results(i).get("formatedBudget")</em></p> 
                			<p class="budget" style="margin-top:-3px;">Status: <em>@results(i).get("status")</em></p>
                			<p class="description">@results(i).get("description")</p>
                		</div>
                	
                	}
            </div>
        </div>
    </div><!--end wrapper-->

    <div class="disclaimer" id="disclaimer">
       <div class="inner group">
          This is a <em>test website</em>, so may be inaccurate or misleading.  The official website remains <a href="http://www.dfid.gov.uk">dfid.gov.uk</a>
      </div>
    </div>

    <footer class="group" id="footer" role="contentinfo">
      <div class="inner group">
        <div class="colophon-and-help">
          <nav class="help">
            <ul>
              <li><a href="/help">Help</a></li>
              <li><a href="/help/cookies">Cookies</a></li>
            </ul>
          </nav>
          <div class="colophon">
            <p>Much of the information on this website is available for reuse under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/" rel="license">Open Government Licence</a></p>
          </div>
        </div>
        <div class="copyright">
          <p>&copy; Crown Copyright</p>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="http://uk1.siteimprove.com/js/siteanalyze_advanced.js"></script>
    <script type="text/javascript" src="https://loader.engage.gsfn.us/loader.js"></script>
  </body>
</html>




