<div style="float:left;margin-top: 15px;width: 28%;">
                <div name="status"><div style = "font-size: 1.2em;font-weight: bold;line-height: 2em;">Status</div></div>
                <div name="organizations"><div style = "font-size: 1.2em;font-weight: bold;line-height: 2em;">Organization</div></div>
                <div name="sectors"><div style = "font-size: 1.2em;font-weight: bold;line-height: 2em;">Sectors</div></div>
                <div name="countries"><div style = "font-size: 1.2em;font-weight: bold;line-height: 2em;">Countries</div></div>
                <div name="regions"><div style = "font-size: 1.2em;font-weight: bold;line-height: 2em;">Regions</div></div>
</div>
