<footer role="contentinfo" id="footer">
  <div class="row">
    <div class="eight columns">
      <nav>
        <ul class="twelve columns inline-list">
          <li><a href="/help">Help</a></li>
          <li><a href="/help/cookies">Cookies</a></li>
        </ul>
      </nav>
      <div class="row">
        <div class="twelve columns">
          <p>Much of the information on this website is available for reuse under the <a rel="license" href="http://www.nationalarchives.gov.uk/doc/open-government-licence/">Open Government Licence</a></p>
      </div>
      </div>
    </div>
    <div class="four columns">
      <div class="copyright">
      <a href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">&copy; Crown Copyright</a>
    </div>
   </div>
  </div>
</footer>