@(query: String = "", label: String = "Search Projects", compact: Boolean = false)
<div class="twelve columns">
    <div id="search-bar">
        <form method="POST" action="/search">
            <label for="query">
                <h3>Search Projects</h3>
                <input type="text" value="@query" placeholder="e.g. location, sector, organisation or keyword" name="query" id="query">
            </label>
            <input type="submit" class="button" value="Search">
        </form>
    </div>
</div>
