@(activities: List[models.IatiDataSource])

@views.html.admin.main() {
    <h1>Activity Files</h1>

    @helper.form(action = controllers.admin.routes.ActivitySources.refresh){
        <input type="submit" class="btn" value="Refresh Sources" />
    }

    @helper.form(action = controllers.admin.routes.ActivitySources.save){
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
                @activities.map { activity =>
                    <tr>
                        <td>
                            <input type="checkbox" name="active" value="@activity.id.get.stringify" @("checked".when(activity.active)) />
                        </td>
                        <td>@activity.title</td>
                        <td><a href="@activity.url">Link</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="submit" class="btn" value="Save" />
    }
}