---
published: "true"
title: Development Tracker

---

<%= partial "partials/projects-header", :locals => { :project => project, :active => "trace", :has_funded_projects => has_funded_projects} %>

<div class="row">
    <div class="twelve columns summary">    
    	<p>This project has supported the following projects direct or indirectly.</p>
    	<div class="documentContainer">            
            <ul >
    			<%= funded_project_all(project) %>
    		</ul>
        </div>
    </div>
</div>