/* Styles for AIP Beta */

/* Colour Palette
-----------------------------------------------*/
$dfid: #729ECD;
$nearBlack: #303030;
$darkGrey: #666;
$midGrey: #dee0e2;
$lightGrey: #F5F5F5;
$orange: #F17921;

/*  
-----------------------------------------------*/
@media screen{
	body{ 
		background: $midGrey;
	}
}

/* Main header/masthead styles 
-----------------------------------------------*/
#global-header {
	background: $nearBlack;
	min-height: 1.75em;
	width: 100%;
	z-index: 1000;
}
#global-header h2 {
	margin: 0;
}
#global-header h2 a {
	background-image: url(../images/dfid-banner.png);
	background-position: 0 0px;
	background-repeat: no-repeat;
	display: block;
	margin: 0.2em 0;
	padding: 0 0 0 2em;
	width: 532px;
	height: 32px;
	line-height: 2em;
	text-indent: -99999px;
}
#global-header h2 a:hover {
	background-position: 0 -42px;
	text-decoration: underline;
}

#page-title {
	/*margin: 0.5em 0;*/
}

#page-title h1 {
   font-weight: normal;
   margin-top: 0;
}

#page-title h1 small {
  white-space: nowrap;
}

#page-title span {
  display: block;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 20px;
}

#page-title img {
    float: right;
    padding: 20px 0;
}

#page-title img + div {
  padding-right: 90px;
}

#page-title h1 img {
  float: left;
  padding: 0.15em 0.25em 0 0;
}

/* global search styles
-----------------------------------------------*/
#search-bar {
	background: $lightGrey;
	padding: 20px;
	text-align: center;
}
#search-bar label {
	display: inline;
}
#search-bar label h3{
	font-size: 1.3em;
	display: inline-block;
	margin: 0 1em;
}
#search-bar #query {
	line-height: 1.2em;
	border-radius: 2px;
	width: 40%;
	min-width: 300px;
	border: 1px solid #CCC;
	display: inline-block;
	margin: 0 ;
}
#search-bar input.button {
	display: inline-block;
	width: 6em;
	font-size: 1.2em;
}
@media screen and (max-width: 648px) {
	#search-bar label h3 {
		display: block!important;
		margin: 0 0 10px;
	}
}
@media screen and (max-width: 600px) {
	#search-bar input.button {
		display: block;
		width: 100%;
	}
	#search-bar #query {
		display: block!important;
		width: 100%;
		margin-bottom: 10px;
	}
}
#search-bar form {
	margin: 0;
}
/* content grouping styles
-----------------------------------------------*/
.page-wrapper {
	background: #FFF;
	padding-bottom: 60px; 
}
.section-group-title {
	border-bottom: 5px solid $dfid;
	padding-top: 1em;
	padding-bottom: 0.25em
}

/* site entry navigation styles
-----------------------------------------------*/

#nav-entry h2 a{
	color: #000;
	text-transform: uppercase;
	font-size: 0.8em;
	margin-bottom: 0;
}
#nav-entry h2 a small{
	font-size: 50%;
	display: block;
	font-weight: normal;
	line-height: 1em;
	padding-top: 1em;
}
.image-wrapper {
	position: relative;
	zoom: 1;
	overflow: hidden;
}
.link-wrapper {
	position: relative;
	display: block;
	width: 8em;
	height: 2em;
	margin-top: -2.25em ;
	background-color: #FFF;
}

@media screen and (min-width: 421px) and (max-width: 767px) {
	#nav-entry .col	{
		width: 49%!important;
		float: left!important;
	}
	#nav-entry .col+.col	{
		float: right!important;
	}
}
@media screen and (max-width: 600px) {
	#nav-entry .col	{
		width: 100%!important;
	}
	.image-wrapper img{
		display: none;
	}
	.link-wrapper {
		margin: 0;
		width: 100%;
		background: none;
	}
	#nav-entry h2 {
		margin: 0;
	}
	#nav-entry .col a{
		display: block;
		padding-bottom: 10px;
		border-bottom: 1px solid $midGrey;
		background: url(../images/nav-next-arrow.png) no-repeat 100% 50%;
	}
}



/* tab bar nav  styles
-----------------------------------------------*/
.projects-nav {
	float: left; min-height: 1px; padding: 0 0 0 15px; position: relative;
}
.projects-nav p{
	display: none;
}
.tab-bar-container {
	background: $darkGrey;
	border-bottom: 1px solid #fff;
}
.tab-bar {
	margin: 0.75em 0 0 0;
	padding: 0;
}
.tab-bar li {
	display: inline-block;
	font-size: 1.1em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.tab-bar li a{
	color: #FFF;
	display: inline-block;
	padding: 0.5em 0.75em;
}
.tab-bar li a:hover{
	text-decoration: underline;
}
.tab-bar li.active {
	background: #FFF;
}
.tab-bar li.active a{
	color: #000;
	font-weight: bold;
}
@media screen and (max-width: 447px) {
	.projects-nav {
		float: none; padding: 0 15px;
		display: block;
	}
	.projects-nav p{
		display: block;
		text-align: center;
		font-size: 1.2em;
		margin: 10px 0;
		color: #fff;
	}
	.tab-bar li {
		color: #FFF;
		float:left;
		width: 34%;
		text-align: center;
	}
	.tab-bar li:first-child,
	.tab-bar li:last-child {
		width: 33%;
	}
	.tab-bar li a span{
		display: none;
	}
}
.budget-total {
	float: right; min-height: 1px; padding: 0 15px 0 0; position: relative;
}
.budget-total p{
	color: $midGrey;
	font-size: 1.2em;
	line-height: 1.1em;
	text-align: right;
	margin: 0.5em 1em 0;
}
.budget-total p span{
	display: block;
	color: #fff;
}
@media screen and (max-width: 700px) {
	.budget-total {
		float: none; min-height: 1px; padding: 0 15px; position: relative;
		display: block;
	}
	.budget-total p{
		text-align: center;
	}
	.budget-total p span{
		display: inline;
	}
}

/* Top 5 lists
-----------------------------------------------*/
.top-5s h4 {
	font-weight: normal;
}
.top-5s ol {
	list-style: none;
	margin-left: 0;
}
.top-5s ol li {
	font-size: 1.2em;
	border-top: 1px solid $midGrey;
	line-height: 1.2em;
	padding: 0.3em 0
}
.top-5s em {
	display: block;
	font-style: normal;
	color: $darkGrey;
	padding-top: 0;
}
.top-5s a  {
	display: block;
}
/* button styles
-----------------------------------------------*/
.button {
    background-color:#008270;
    color:#fff;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow:0 3px 0 #000;
    -moz-box-shadow:0 3px 0 #000;
    box-shadow:0 3px 0 #000;
    font-weight:300;
    padding: 5px 0;
}
.button, .button:visited{
    display:inline;
    border:none;
    text-decoration:none;
    position:relative;
    top:-2px;
    line-height:1.25;
    -webkit-box-shadow:0 2px 0 #000;
    -moz-box-shadow:0 2px 0 #000;
    box-shadow:0 2px 0 #000;
}
.button:hover{
    background-color:#3ABAA8;
    color:#fff
}
/* Disclaimer Styles 
-----------------------------------------------*/
.disclaimer{
	background: $orange;
}
.disclaimer.grey{
	background: $lightGrey;
}

.disclaimer p{
	margin: 0;
	padding: 10px;
}
.disclaimer em{
	font-style: normal;
	font-weight: bold;
}

/* Footer styles
-----------------------------------------------*/
#footer {
	background: $midGrey;
	border-top: 1px solid #a1acb2;
	padding: 30px 0;
}
#footer a {
	color: $darkGrey;
	text-decoration: underline;
}
#footer .copyright a{
	display: block;
	padding: 115px 0 0 0;
	padding: 11.5rem 0 0 0;
	background: transparent url(https://assets.digital.cabinet-office.gov.uk/static/govuk-crest-795cd6afb205d81a4267e100e11debe1.png) no-repeat 50% 0;
	text-align: center;
	text-decoration: none;
}

/* Miscellaneous Styles
------------------------------------------------*/ 
.visually-hidden{
    left:-99999em !important;position:absolute
}

/* Content Styles
------------------------------------------------*/ 
.description { 
	font-size: 18px; margin-top: 10px; 
}

.project-description {
	font-size: 20px; margin-top: 10px; margin-bottom: 20px;
}

.info-notice{
    background:url(../images/icon-information.png) no-repeat 0 50%;
    font-size: 1.6em;
    line-height: 2em;
    height: 2em;
    padding-left: 35px;
	font-weight: normal;    
}

.fact-item{
    font-size:14px;
    border-bottom: solid 1px #D8DCBF;
}

.fact-item p{
    font-size:16px;
    font-weight:bold;
}

.inverted .fact-item{
    border-bottom: solid 1px #D8DCBF;
    padding-bottom: 6px;
    font-size:16px;
    font-weight:bold;
}

.inverted .fact-item p{
    font-size:14px;
    font-weight: normal;
}

.info-list.vertical li { width: 100%!important; list-style: none; }

.info-list li{
    border-bottom: 1px solid #ccc;
    padding: 0.5em 0;
    float: left;
    width: 48%;
    margin-right: 2%;
    min-width: 320px;
}

.info-list li:nth-child(even){
    width: 49%;
    margin-right: 0;
}

.info-list li span{
    display: block;
    font-size: 1.25em;
    color: #000;
    margin-top: -0.25em;
}

#tab-links { 
	float:right; 
	padding: 0.5em 0;
	margin: 0 20px 0 0; 
	font-size: 1.25em;
}

#tab-links input { 
	background-color:#990000; 
	color:#fff;
	margin:0 0 0 10px;
	padding: 0.5em 0;
}

#tab-links input:hover { 
	background-color:#AA0000; 
	color:#fff; 
}

#tab-links a { 
	color:#fff; 
	margin-right: 10px; 
	font-size:0.9em; 
	text-decoration: underline; 
	margin:0; 
	padding:0;
}

#tab-links form {
    display:inline;
    margin:0;
    padding:0;
}

#map {
	width: 100%; 
	height: 500px;
}

.static-background {
	background-image: url(/images/map_transparent.gif);
	background-repeat: no-repeat;
	background-size: contain;
}

.truncate {
    width: 200px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-result h3 small { font-size: 0.7em; }
.search-result h3 { font-size:1.2em; font-weight:bold; }
.search-result { margin: 30px 0; }
.search-result p.budget em { font-weight: bold; font-style: normal; color:#008270; }
.search-result p.budget { margin-bottom:5px; }
.search-result p{ font-size: 1.1em; line-height:1.5em; }
.search-result p.description{ font-size: 1em; }
