#countryMap img, object, embed { max-width: none; }
#map.static-background svg { height: 100%; width: 100%;}
#countryMap {
    height : 405px;
}
#map {
    width: 100%; 
    height: 500px;
}

.static-background {
    background-image: url(/images/map_transparent.gif);
    background-repeat: no-repeat;
    background-size: contain;
}

.truncate {
    width: 200px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.countryMap {
    height : 380px;
}

div.progress { border: none;}

.transactions-table th { font-weight: bold!important; }

span.category { 
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
  font-family: 'Helvetica Neue';
}