#countryMap img, object, embed { max-width: none; }
#map.static-background svg { height: 100%; width: 100%;}
#countryMap {
    height : 405px;
}
#map {
    width: 100%; 
    height: 500px;
}

.static-background {
    background-image: url(/images/map_transparent.gif);
    background-repeat: no-repeat;
    background-size: contain;
}

.truncate {
    width: 200px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#feedback-banner {
  background-color:#ADD8E6;position:relative;z-index:0;
  border: 1px solid #a1acb2;
  width:100%;
  padding-top:20px;
}

.countryMap {
    height : 380px;
}

.negative { color: #f00; }

.leaflet-popup-tip-container { display: none; }

div.progress { border: none;}

.transactions-table th { font-weight: bold!important; }

span.category { 
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
  font-family: 'Helvetica Neue';
}

.leaflet-div-icon {
    border: none!important;
}

.transactions-table td{
  white-space: normal;
}

.marker.cluster {
    background-image: url(/images/mapmarker.png);
    font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    height: 36px;
    width: 18px;
    border:none;
    text-align:center;
    font-size:1em;
    line-height: 1.4em;
    font-weight: bold;
    color: #fff;
}

.country-link, .region-link {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.location-button {
  font-size: 1.6em;
  margin-top: 30px;
}

.cookies ul {
  margin-left:30px;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
  color: transparent!important;
}

.leaflet-popup-content-wrapper {
  padding-right: 0px!important;
}

.location-popup {
  min-width: 200px;
  width:100%;
}

#countryMap .leaflet-popup-content{
  width: 300px!important;
}

.location-popup .location-label {
  font-weight: bold;
}

.location-popup .row {
  margin-bottom:5px;
}

.location-popup.large {
  max-height: 350px;
  overflow-y:scroll;  
}

#disclaimer {
  margin-bottom:15px;
}


#implementing-organisations ul
{
    list-style-type:none;
    padding:0px;
    margin:0px;}

.ie7 #map_container{
    display: none;
}

.download-link {
    padding-top:40px;
    width:100%;
    float:right;
    text-align:right;
}

.sort-proj-sectors {
    text-align: center;
    margin: auto 0px;
    width:25px;
    height:25px;
    border:none;
    vertical-align: baseline;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor:pointer;
}