#countryMap img, object, embed { max-width: none; }
#map.static-background svg { height: 100%; width: 100%;}
#countryMap {
    height : 405px;
}
#map {
    width: 100%; 
    height: 500px;
}

.static-background {
    background-image: url(/images/map_transparent.gif);
    background-repeat: no-repeat;
    background-size: contain;
}

.truncate {
    width: 200px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.countryMap {
    height : 380px;
}

div.progress { border: none;}

.transactions-table th { font-weight: bold!important; }