---
title: Aid Information Platform
---

<%= partial "partials/location-title-bar" %>
<%= partial "partials/search-bar" %>
<%= partial "partials/location-tabs", :locals => { :active => "country" }  %>

<div class="row">
    <div class="twelve columns map">
    	<script type="text/javascript">
	    	var countriesData = <%= dfid_country_projects_data %>;
	    </script>
        <script src="/javascripts/leaflet/leaflet.js" type="text/javascript"></script>
	    <script src="/javascripts/leaflet/world.js" type="text/javascript"></script>
	    <link rel="stylesheet" href="/javascripts/leaflet/leaflet.css" />
	    <!--[if lte IE 8]><link rel="stylesheet" href="/javascripts/leaflet/leaflet.ie.css /><![endif]-->
	    

      <style>
        #map svg {
          height: inherit;
          width: inherit;
        }
      </style>
	    <div id="map"></div>

	    <div class="disclaimer grey">    
	        <p><em>Disclaimer: </em>Country borders do not necessarily reflect the UK Government's official position.</p>
	    </div>

	    <script src="/javascripts/leaflet/indexmap.js" type="text/javascript"></script>
    </div>
</div>