@(items: List[models.WhatWeDoEntry])
@main() {


    <h1>What We Do</h1>

    <a href="@routes.WhatWeDo.create" class="btn">New What We Do</a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Value</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @items.map { item =>
                <tr>
                    <td>
                        @item.title
                    </td>
                    <td>
                        @item.value
                    </td>
                    <td>

                        @helper.form(action = routes.WhatWeDo.delete(item.id.get.stringify)) {
                            <a href="@routes.WhatWeDo.edit(item.id.get.stringify)" class="btn">Edit</a>
                            <input type="submit" value="Delete" class="btn btn-warning" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
