@(countries: List[uk.gov.dfid.common.models.Country])

@main() {
    <h1>Countries</h1>

    <a href="@routes.Countries.create" class="btn">New Country</a>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @countries.map { country =>
            <tr>
                <td>@country.code</td>
                <td>@country.name</td>
                <td>
                    @helper.form(action = routes.Countries.delete(country.code)) {
                        <a href="@routes.Countries.edit(country.code)" class="btn">Edit</a>
                        <input type="submit" value="Delete" class="btn btn-warning" />
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}