---
title: Aid Information Platform
---


<div id="page-title" class="row">
    <div class="twelve columns">
        <img src="/images/ukaid_logo.gif" alt="UK aid from the British people">
        <div>
            <h1>
                <span>Department for International Development</span>
                Aid Information
            </h1>
        </div>
    </div>
</div>


<div class="row">
    <div class="twelve columns">
        <div id="search-bar">
            <form action="/projects" method="GET">
                <label for="query">
                    <h3>Search Projects</h3>
                    <input id="query" name="query" type="text" placeholder="e.g. location, sector, organisation or keyword" value="">
                </label>
                <input type="submit" value="Search" class="button">
            </form>
        </div>
    </div>
</div>

<nav>
    <div class="row" id="nav-entry">
        <div class="six columns col">
            <h2>
                <a href="/location" class="by-location">
                    <span class="image-wrapper">
                        <img src="/images/by-location.gif" alt="">
                    </span>
                    <span class="link-wrapper"><small>Aid by</small> Location</span>
                </a>
            </h2>         
        </div>
        <div class="six columns col">
            <h2>
                <a href="/location" class="by-sector">
                    <span class="image-wrapper">
                        <img src="/images/by-sector.gif" alt="">
                    </span>
                    <span class="link-wrapper"><small>Aid by</small> Sector</span>
                </a>
            </h2>
            
        </div>
    </div>
</nav>
<div class="row">
    <div class="twelve columns">
        <h3 class="section-group-title">UK AID TOP 5s</h3> 
    </div>
</div>
<div class="row top-5s">
    <div class="six columns" id="top-5-countries">
        <h4>Where we work</h4>
        <ol>
            <li>
                <a href="/countries/ET" class="truncate" title="Ethiopia">Ethiopia</a>
                <em><span class="visually-hidden">Budget</span>£283m</em>
            </li>
            <li>
                <a href="/countries/PK" class="truncate" title="Pakistan">Pakistan</a>
                <em><span class="visually-hidden">Budget</span>£267m</em>
            </li>
            <li>
                <a href="/countries/IN" class="truncate" title="India">India</a>
                <em><span class="visually-hidden">Budget</span>£264m</em>
            </li>
            <li>
                <a href="/countries/BD" class="truncate" title="Bangladesh">Bangladesh</a>
                <em><span class="visually-hidden">Budget</span>£210m</em>
            </li>
            <li>
                <a href="/countries/NG" class="truncate" title="Nigeria">Nigeria</a>
                <em><span class="visually-hidden">Budget</span>£185m</em>
            </li>
        </ol>
        <a href="#">See all...<span class="visually-hidden">top countries</span></a>
    </div>

    <div class="six columns" id="top-5-sectors">
        <h4>What we do</h4>
        <ol>
            <li>
                <a href="#" class="truncate" title="Economic and development policy/planning">Economic and development policy/planning</a>
                <em><span class="visually-hidden">Budget</span>£1917m</em>
            </li>
            <li>
                <a href="#" class="truncate" title="Education policy and administrative management">Education policy and administrative management</a>
                <em><span class="visually-hidden">Budget</span>£1687m</em>
            </li>
            <li>
                <a href="#" class="truncate" title="Primary education">Primary education</a>
                <em><span class="visually-hidden">Budget</span>£1628m</em>
            </li>
            <li>
                <a href="#" class="truncate" title="Social/welfare services">Social/welfare services</a>
                <em><span class="visually-hidden">Budget</span>£1402m</em>
            </li>
            <li>
                <a href="#" class="truncate" title="Bio-diversity">Bio-diversity</a>
                <em><span class="visually-hidden">Budget</span>£1391m</em>
            </li>
        </ol> 
         <a href="#">See all...<span class="visually-hidden">top sectors</span></a>              
    </div>
    <!--
    <div class="four columns" id="top-5-projects">
        <h4>What we achieve</h4>
        <ol>
            <li>
                <span class="truncate" title="Malaria bed nets distributed">Malaria bed nets distributed</span>
                <em>£12.2m</em>
            </li>
            <li>
                <span class="truncate" title="Children vaccinated">Children vaccinated</span>
                <em>£12m</em>
            </li>
            <li>
                <span class="truncate" title="Access to financial services for ">Access to financial services for </span>
                <em>£11.9m</em>
            </li>
            <li>
                <span class="truncate" title="Hygiene conditions improved for">Hygiene conditions improved for</span>
                <em>£7.4m</em>
            </li>
            <li>
                <span class="truncate" title="Emergency food assistance for">Emergency food assistance for</span>
                <em>£6m</em>
            </li>
        </ol>  
    </div>
    -->
</div>

