---
title: Aid Information Platform
---

<map name="locationmap">	
	<area shape="rect" coords="2,200,155,255" alt="Global Projects" href="/location.html">
	<area shape="rect" coords="156,200,330,255" alt="Regional Projects" href="/location-regional.html">
	<area shape="rect" coords="331,200,490,255" alt="Regional Projects" href="/location-country.html">
</map>

<div class="row">
	<div class="twelve columns" style="text-align: center;">
		<img src="/images/regional-projects.png" usemap="#locationmap"/>
	</div>
</div>
