<head>
  <LINK REL=StyleSheet HREF="/stylesheets/fraud-styles.css" TYPE="text/css">
</head>

<div id="page-title" class="row">
    <div class="twelve columns">
        <img src="/images/ukaid_logo.gif" alt="UK aid from the British people">
        <div>
            <h1>
                <span>Aid platform</span>
                Fraud Reporting
            </h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <div id="search-bar">
            <form action="/projects" method="GET">
                <label for="query">
                    <h3>Search Projects</h3>
                    <input id="query" name="query" type="text" placeholder="e.g. location, sector, organisation or keyword" value="">
                </label>
                <input type="submit" value="Search" class="button">
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <div class="demo-disclaimer" style="margin:0;">
            <p><strong>Demonstration: </strong>The content and layout shown below has been created to illustrate the potential for this area of the application.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <div class="content">
            <h2>Reporting fraud or corrupt parctices</h2>
            <p>DFID’s Counter Fraud and Whistleblowing Unit (CFWU) is the central point for raising concerns and suspicions or allegations of fraud or corrupt practices. This includes both internal and external cases where DFID funds, assets or interests (including DFID’s reputation) are involved.</p>
            <p>All suspicions of fraud or corruption must be reported. Please complete the form below giving as much detail as possible.</p>
            <p>Alternatively any concerns can be reported by calling the <strong>confidential hotline</strong> on <strong>+44 (0) 1355 843551</strong> or in writing to the Head of Internal Audit, Abercrombie House, Eaglesham Road, East Kilbride, G75 8EA</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="six columns">
            <form id="fraud-report">
              <fieldset>
              <legend>Project Information <span>(mandatory)</span></legend>
              <ol>
                <li>
                  <label for="country">Country</label>
                  <input id="country" />
                </li>
                <li>
                  <label for="project">Project</label>
                  <input id="project" />
                </li>
                <li>
                  <label for="description">Description of concern</label>
                  <textarea id="description"></textarea>
                </li>
              </ol>

              <legend>Your contact details <span>(optional)</span></legend>
              <ol>
                <li>
                  <label for="name">Name</label>
                  <input id="name" />
                </li>
                <li>
                  <label for="email">E-mail address</label>
                  <input id="email" />
                </li>
                <li>
                  <label for="telno">Telephone number</label>
                  <input id="telno" />
                </li>
                <li>
                  <label for="address1">Address</label>
                  <input id="address1" />
                </li>
                <li>
                  <label for="address2">Address 2</label>
                  <input id="address2" />
                </li>
                <li>
                  <label for="town-city">Town/City</label>
                  <input id="town-city" />
                </li>
                <li>
                  <label for="county">County</label>
                  <input id="county" />
                </li>
                <li>
                  <label for="postcode">Postcode</label>
                  <input id="postcode" />
                </li>
                <li>
                  <input type="submit" value="Send report" class="button big"/>
                </li>
              </ol>

            </fieldset>
          </form>
      </div>
    </div>
  </div>